.section__hero {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 920px;
	margin: 0 auto;
	margin-top: 80px;
}
.hero__text {
	width: 437px;
	padding-top: 48px;
	.my__name {
		color: #fff;
		font-family: $raleway;
		font-size: 44px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;

		margin-bottom: 20px;
	}
	.my__desc {
		color: #9c9c9c;
		font-family: $plex;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.14px;
	}
}
.my__photo {
	border-radius: 50%;
}
.cv__download {
	display: flex;
	padding: 21px 64px;
	align-items: center;
	gap: 10px;

	border-radius: 4px;
	border: 1px solid #62ba1b;
	background: #3f8e00;
	box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);

	margin-top: 30px;
	width: 265px;

	.cv__link {
		color: #fff;
		font-family: $plex;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}
